body {
    background-image : url('https://t1.blockdit.com/photos/2021/02/602bf632dc44e61364afbc7c_800x0xcover_db3K1T43.jpg');
    background-repeat : repeat;
    font-family: 'Itim', cursive;
  }

    header {
      background-color: palevioletred;
      color: white;
      height : 70px;
      padding: 10px;
      text-align: center;
  }

  footer {
    background-color: plum;
    color: white;
    height: 70px;
    padding: 10px;
    text-align: center;
  }
  
  .mainpage {
      width: 1024px;
      margin: 0 auto;
  }

  .handname1 {
      color:plum (225, 238, 0);
      font-size: 30px;
  }
  
  .handname2 {
      color:white (225, 255, 255);
  }

  .graphic{
    background-image: url("images/chantaburi-cover.jpeg");
    height: 320px;
    padding: auto;
  }

  .maps{
    border: 1px solid rgb(232, 188, 243);
    height: 300px;
  }